@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:wght@300..900&display=swap");
@import "tailwindcss";

html,
body {
  @apply h-full min-w-80;
}

body {
  @apply font-[Rubik,sans-serif] text-xl text-[#68707F];
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill="none"], [fill^="url"])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke="none"], [stroke^="url"])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

.wrapper {
  @apply flex min-h-full flex-col;
}

.container {
  @apply mx-auto max-w-[87.625rem] px-[.9375rem];
}

.menu-open {
  overflow: hidden;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(16, 28, 44, 0.25) !important;
}
