<section
  class="pt-27.5 pb-20 min-[992px]:pt-[9.875rem] md:pt-[7.75rem] md:pb-36.5"
>
  <div
    class="relative container flex flex-col items-center after:absolute after:-top-16 after:-right-[17.0625rem] after:-z-1 after:hidden after:h-[1183px] after:w-[1351px] after:bg-[url(/icons/home/bg.svg)] after:bg-contain after:bg-no-repeat min-[992px]:flex-row min-[992px]:after:block"
  >
    <div class="max-[992px]:text-center min-[992px]:basis-[47.625rem]">
      <h1
        class="mb-6 font-[Raleway] text-[1.75rem] font-light text-[#101c2c] min-[1072px]:text-5xl sm:mb-8 sm:text-4xl xl:text-[3.5rem]"
      >
        <span class="font-bold">Высокоточное оружие</span> против современных
        киберугроз
      </h1>
      <p class="mb-8 text-base font-light sm:mb-12 lg:text-lg xl:text-xl">
        «tLab Technologies» защищает системы от киберугроз нового типа. Более 10
        лет мы успешно боремся с атаками класса APT, атаками нулевого дня,
        целевыми вредоносными ПО. Наши технологии эффективны там, где бессильны
        типичные средства защиты.
      </p>
      <app-more-info-button>узнать больше</app-more-info-button>
    </div>
    <div class="hidden basis-[43.75rem] min-[992px]:block">
      <video autoplay loop poster="home/hero/illustration.png">
        <source src="home/hero/animation.webm" type="video/webm" />
        Ваш браузер не поддерживает встроенные видео :(
      </video>
    </div>
  </div>
</section>
