<header
  class="fixed top-0 left-0 z-2 w-full border-b border-b-[#e9eaed] bg-white"
>
  <div
    class="container flex min-h-15.5 items-center justify-between gap-4 py-1 text-base min-[992px]:min-h-24"
  >
    <a href="#" class="max-[992px]:z-10">
      <img
        src="logo.svg"
        width="98"
        height="45"
        i18n-alt="@@tlabTechnologiesLogo"
        alt="Логотип tLab Technologies"
      />
    </a>
    <nav class="hidden min-[992px]:block">
      <ul
        class="min-[992px]:flex min-[992px]:items-center min-[992px]:gap-x-6 lg:gap-x-12"
      >
        @for (menuItem of menuList; track menuItem.title) {
          <li
            appHover
            class="relative hover:after:absolute hover:after:top-6 hover:after:left-0 hover:after:inline-block hover:after:h-6 hover:after:w-full"
          >
            <a
              [routerLink]="menuItem.page"
              class="text-lg min-[992px]:text-base"
            >
              {{ menuItem.title }}
            </a>
            @if (menuItem.subMenuList?.length) {
              <ul
                class="min-w-48 space-y-6 rounded-sm bg-white min-[992px]:absolute min-[992px]:top-12 min-[992px]:left-0 min-[992px]:hidden min-[992px]:p-6 min-[992px]:shadow-[0_1px_2px_0_rgba(190,190,206,0.08),0_6px_8px_0_rgba(190,190,206,0.12),0_16px_26px_0_rgba(190,190,206,0.2)]"
              >
                @for (subMenuItem of menuItem.subMenuList; track subMenuItem) {
                  <li>
                    <a appHighlight href="#">{{ subMenuItem }}</a>
                  </li>
                }
              </ul>
            }
          </li>
        }
      </ul>
    </nav>
    <div
      class="hidden items-center gap-x-[2.1875rem] min-[992px]:flex xl:gap-x-[4.375rem]"
    >
      <div class="flex items-center gap-x-4 font-[Raleway] text-sm uppercase">
        @for (locale of locales; track locale.localeCode; let isLast = $last) {
          <a
            [href]="'/' + locale.localeCode"
            [class]="
              currentLocale === locale.localeCode
                ? 'font-semibold text-[#dc0023]'
                : ''
            "
            >{{ locale.label }}</a
          >
          @if (!isLast) {
            <div class="h-6 w-0.5 bg-[#e9eaed]"></div>
          }
        }
      </div>
      <a
        href="tel:+77058440006"
        class="flex items-center gap-2.5 font-medium text-[#101c2c] before:size-6 before:bg-[url(/icons/phone.svg)]"
      >
        +7 (705) 844-00-06
      </a>
    </div>
    <button
      (click)="snav.toggle()"
      [ngClass]="[
        'icon-menu relative inline-flex size-11 items-center justify-center before:absolute before:top-[1.0625rem] before:left-3 before:h-0.5 before:w-5 before:rounded-full before:bg-[#101C2C] before:transition-all before:duration-300 after:absolute after:bottom-[1.0625rem] after:left-3 after:h-0.5 after:w-5 after:rounded-full after:bg-[#101C2C] after:transition-all after:duration-300 min-[992px]:hidden',
      ]"
    >
      <span
        class="h-0.5 w-5 rounded-full bg-[#101C2C] transition-all duration-300"
      ></span>
    </button>
  </div>
</header>
