<header class="border-b border-[#e9eaed]">
  <div
    class="container flex min-h-24 items-center justify-between py-1 text-base"
  >
    <a href="#">
      <img src="logo.svg" width="98" height="45" alt="tLab Technologies logo" />
    </a>
    <nav>
      <ul class="flex items-center gap-x-12">
        <li>
          <a href="#">Продукты</a>
        </li>
        <li>
          <a href="#">Ресурсы</a>
        </li>
        <li>
          <a href="#">VirLab</a>
        </li>
        <li>
          <a href="#">Обучение</a>
        </li>
        <li>
          <a href="#">О компании</a>
        </li>
      </ul>
    </nav>
    <div class="flex items-center gap-x-[4.375rem]">
      <div class="flex items-center gap-x-4 font-[Raleway] text-sm uppercase">
        <a href="#" class="font-semibold text-[#dc0023]">рус</a>
        <div class="h-6 w-0.5 bg-[#e9eaed]"></div>
        <a href="#">eng</a>
      </div>
      <a
        href="tel:+77058440006"
        class="flex items-center gap-2.5 font-medium text-[#101c2c] before:size-6 before:bg-[url(/icons/phone.svg)]"
      >
        +7 (705) 844-00-06
      </a>
    </div>
  </div>
</header>
